---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>

                <div class="activity-list">
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <a href="{{ site.url }}/activities/ramaneeyamchallenge">
                            <h3>Ramaneeyam Challenge</h3>
                        </a>
                        <ul>
                            <li>A virtual one week event where each member of the family performs one task which is not part of their daily routine</li>
                        </ul>
                    </div>
                    <hr />
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3>
                            NSS, Ambernath-Youth Wing (NGO), Mumbai, India – <u><i>Executive Vice President</i></u>
                        </h3>
                        <ul>
                            <li>Managed a team of 50 students</li>
                            <li>Responsible for Decision making, Marketing, Organizing</li>
                            <li>Planned, organized and hosted several programs for students such as drawing and quiz competitions and also cultural programs and flash mobs</li>
                        </ul>
                    </div>
                    <hr />
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3>
                            Infra and Security – <u><i>K. J. Somaiya College of Engineering, Mumbai, India</i></u>
                        </h3>
                        <ul>
                            <li>Planned, organized and hosted university events</li>
                            <li>Responsible for people and infrastructuer management</li>
                        </ul>
                    </div>
                    <hr />
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3>
                            Informatics and Computing Consulting Association – <u><i>Indiana University Bloomington</i></u>
                        </h3>
                        <ul>
                            <li>Helped organizing university events such as Meet and greet with companies</li>
                            <li>Social service activities</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
