---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
<style>
    body {font-family: "Lato", sans-serif;}

    /* Style the tab */
    div.tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    div.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    div.tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    div.tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
</head>
<body>
    {% include nav.html %}
    
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="tab">
                  <button class="tablinks active" onclick="openCity(event, 'we')">Work Experience</button>
                  <button class="tablinks" onclick="openCity(event, 'ai')">AI & Machine Learning</button>
                  <button class="tablinks" onclick="openCity(event, 'cv')">Computer Vision</button>
                  <button class="tablinks" onclick="openCity(event, 'sd')">Software Dev</button>
                </div>
                <div class="post-list" id ="ai" style ="display:none">
                    {% for post in site.posts %} 
                        {% if post.tab == "ai" %}
                            <ul>
                                <li class="wow fadeInLeft" data-wow-duration="1.5s">
                                    {% if post.folder %}
                                        <img style = "max-width:20%; float:right" src = "{{ site.url }}/assets/img/projects/{{ post.folder }}/icon.jpg">
                                    {% endif %}
                                    <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <p>{{ post.excerpt }}</p>
                                    {% if post.bio %}
                                        <p>{{ post.bio }}</p>
                                    {% endif %}
                                    <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Read More</a>
                                </li>
                            </ul>
                      {% endif %}
                    {% endfor %}
                </div>
                <div class="post-list" id ="cv" style ="display:none">
                    {% for post in site.posts %} 
                        {% if post.tab == "cv" %}
                            <ul>
                                <li class="wow fadeInLeft" data-wow-duration="1.5s">
                                    {% if post.folder %}
                                        <img style = "max-width:20%; float:right" src = "{{ site.url }}/assets/img/projects/{{ post.folder }}/icon.jpg">
                                    {% endif %}
                                    <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <p>{{ post.excerpt }}</p>
                                    {% if post.bio %}
                                        <p>{{ post.bio }}</p>
                                    {% endif %}
                                    <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Read More</a>
                                </li>
                            </ul>
                      {% endif %}
                    {% endfor %}
                </div>
                <div class="post-list" id ="we" style ="display:block">
                    {% for post in site.posts %} 
                        {% if post.tab == "we" %}
                            <ul>
                                <li class="wow fadeInLeft" data-wow-duration="1.5s">
                                    {% if post.folder %}
                                        <img style = "max-width:20%; float:right" src = "{{ site.url }}/assets/img/projects/{{ post.folder }}/icon.jpg">
                                    {% endif %}
                                    <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <p>{{ post.excerpt }}</p>
                                    {% if post.bio %}
                                        <p>{{ post.bio }}</p>
                                    {% endif %}
                                    <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Read More</a>
                                </li>
                            </ul>
                      {% endif %}
                    {% endfor %}
                </div>
                <div class="post-list" id ="sd" style ="display:none">
                    {% for post in site.posts %} 
                        {% if post.tab == "sd" %}
                            <ul>
                                <li class="wow fadeInLeft" data-wow-duration="1.5s">
                                    {% if post.folder %}
                                        <img style = "max-width:20%; float:right" src = "{{ site.url }}/assets/img/projects/{{ post.folder }}/icon.jpg">
                                    {% endif %}
                                    <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <p>{{ post.excerpt }}</p>
                                    {% if post.bio %}
                                        <p>{{ post.bio }}</p>
                                    {% endif %}
                                    <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Read More</a>
                                </li>
                            </ul>
                      {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </header>

    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
    <script type="text/javascript">
        function openCity(evt, tabName) {
            if(tabName == "ai"){
             document.getElementById("ai").style.display = "block";
             document.getElementById("cv").style.display = "none";
             document.getElementById("we").style.display = "none";
             document.getElementById("sd").style.display = "none";
            }else  if(tabName == "cv"){
             document.getElementById("ai").style.display = "none";
             document.getElementById("cv").style.display = "block";
             document.getElementById("we").style.display = "none";
             document.getElementById("sd").style.display = "none";
            }  else  if(tabName == "sd"){
             document.getElementById("ai").style.display = "none";
             document.getElementById("cv").style.display = "none";
             document.getElementById("we").style.display = "none";
             document.getElementById("sd").style.display = "block";
            }  else  if(tabName == "we"){
             document.getElementById("ai").style.display = "none";
             document.getElementById("cv").style.display = "none";
             document.getElementById("we").style.display = "block";
             document.getElementById("sd").style.display = "none";
            }  
             tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            evt.currentTarget.className += " active";     
        }
        
    </script>>
</body>
</html>
