---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>

				<div class="wow fadeInLeft" data-wow-duration="1.5s">
                	<p>A virtual one week event where each member of the family performs one task which is not part of their daily routine</p>
                </div>
                <hr />

                <div class="activity-list">
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3>
                            Gauri - Beautiful sketch
                        </h3>
                        <img src="{{ site.url }}/assets/img/ramaneeyamchallenge/Gauri_Sketch.jpeg">
                    </div>
                </div>
                <hr />
                <div class="activity-list">
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3>
                            Ramani - Bouquet using Flowers from her garden</a>
                        </h3>
                        <img src="{{ site.url }}/assets/img/ramaneeyamchallenge/Amama_flowers.jpg">
                    </div>
                </div>
                <hr />
                <div class="activity-list">
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3>
                            Febin - Supreme Acting</a>
                        </h3>
                        <iframe 
                            width="560" 
                            height="315" 
                            src="https://www.youtube.com/embed/pyCsWE5QBs4" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <hr />
                <div class="activity-list">
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3>
                            Unni - Filmy talent</a>
                        </h3>
                        <iframe 
                            width="560" 
                            height="315" 
                            src="https://www.youtube.com/embed/2keto7bNXcA" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <hr />
                <div class="activity-list">
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3>
                            Rohit - Song: Abhi mujh mein kahin, Agneepath</a>
                        </h3>
                        <iframe 
                            width="560" 
                            height="315" 
                            src="https://www.youtube.com/embed/Ew0z3l2a4mA" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <hr />
                <div class="activity-list margin-bottom">
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3>
                            Muralidharan - Article: Generational changes</a>
                        </h3>
                        <p>
                            Change is inevitable and will go on repeating. Most of the changes are not perceptible, only on hindsight will we realise them.
                        </p>
                        <p>
                            Maruti 800 & Maruti Van which replaced Ambies & Premier Padminies got themselves displaced. Scooters were replaced by Activas. Filament bulbs got replaced by CFL & then LED. Mosaic tiles vanished & Vitrified tiles became the usual norm. Window ACs became extinct only to be replaced by Split ACs. Landline to mobile phones, cheques to atm cards to net banking. LPG Gas cylinders to Pipe Gas. Floppy discs to CDs to DVDs to pen drives to cloud storage. Pagers to mobile phones (Nokia) to smart phones (iPhone and OnePlus) to smart watches to smart finger rings. Doordarshan to multiple channels, 5 minute cartoon space before chitrahaar to full time cartoon channels to online streaming. Photograph negative to digital. Social circles are becoming more and more virtual as each day passes.
                        </p>
                        <p>
                            We were well prepared for this tectonic shift simply by our science fiction. Remember start trek? We were in awe of the trekkers talking to each other with devices connected to their ears (bluetooth 😛)
                        </p>
                        <p>
                            The biggest generation shift was in our perception, a shift from physical to virtual. 
                        </p>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </header>

    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
