---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>

				<div class="wow fadeInLeft" data-wow-duration="1.5s">
                	<p>A virtual one week event where each member of the family performs one task which is not part of their daily routine</p>
                </div>
                <hr />

                <div class="activity-list">
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3>
                            Gauri - Sketch
                        </h3>
                        <img src="{{ site.url }}/assets/img/ramaneeyamchallenge/Gauri_Sketch.png">
                    </div>
                </div>
                <hr />
                <div class="activity-list no-margin">
                    <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3>
                            Rohit - <a href="https://www.youtube.com/watch?v=8YV8KmfBbBM">Learn Japanese words</a>
                        </h3>
                        <p>Expressions</p>
                        <ol>
                            <li>Arigatou = Thank you</li>
                            <li>Sumimasen = Excuse me / I'm sorry</li>
                            <li>Beautiful = ki-re-i</li>
                        </ol>
                        <p>Words</p>
                        <ol>
                            <li>Toilet = toire</li>
                            <li>Train station = eki</li>
                            <li>Hotel = hoteru</li>
                            <li>Convenient store = konbini</li>
                            <li>Chopsticks = Ha-shi (low tone in shi)</li>
                            <li>Bridge = Ha-shi (high tone in shi)</li>
                        </ol>
                        <p>Relationships</p>
                        <ol>
                            <li>Grandmom = Oba-a-san</li>
                            <li>Aunt = Oba-san</li>
                        </ol>
                        <p>Sentences</p>
                        <ol>
                            <li>I ate apple = Watashi(I) ringo(apple) tabemashita(ate)</li>
                            <li>Where is Toilet = toire wa doko desu ka ... wa(append to subject) doko(where) desu(polite word, 'is' in this case) ka(ending it as a question)</li>
                            <li>Where is Tokyo station = Tokyo eki wa doko desu ka</li>
                        </ol>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </header>

    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
